*.asv
data_raw/
*.bak
*.log
*.aux
*.bbl
*.blg
*.out
*.toc
*.synctex.gz
*_dynamic.m
*_static.m
*_steadystate*.m
*_set_auxiliary_variables.m
*_results.mat
*_mode.mat
*_mean.mat
*_params.mat
*_pindx.mat
*_mh*.mat
*.eps
output/
data/processed/
.DS_Store
__pycache__/
validation/latex/
